.banner{
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png) no-repeat center;
  background-size: cover;
  height: 840px;

  @include mobile(){
    height: 394px;
  }
}

.feature{
  padding-top: 64px;
  padding-bottom: 80px;

  @include pad(){
    padding: 40px 46px;
  }

  @include mobile(){
    padding: 32px 0 12px;
  }
}

.title{
  margin-bottom: 60px;

  @include pad(){
    margin-bottom: 32px;
  }

  @include mobile(){
    margin-bottom: 20px;
  }
}

.feature-item{
  width: 20%;

  @include pad(){
    width: 40%;
  }

  @include mobile(){
    width: 63%;
  }

  img{
    width: 100px;
    height: 100px;

    @include pad(){
      width: 80px;
      height: 80px;
    }
  }

  h3{
    margin-bottom: 4px;

    @include pad(){
      margin-bottom: 8px;
    }
  }
}

.classic-list{
  li{
    img{
      width: 635px;
      margin-right: 30px;

      @include pad(){
        width: 390px;
      }
    
      @include mobile(){
        width: 100%;
        margin-right: 0;
      }
    }

    &:nth-child(even){
      img{
        margin-left: 30px;
        margin-right: 0;
  
        @include pad(){
          margin-left: 0;
          margin-right: 30px;
        }
  
        @include mobile(){
          margin-right: 0;
        }
      }
    }

    @include mobile(){
      position: relative;
    }
  }

  a{
    &:hover{
      color: #a23c39;

      @include mobile(){
        color: $yellow-color;
      }
    }

    @include mobile(){
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@each $item in $classic {
  .#{$item} {
    background: url(https://hexschool.github.io/webLayoutTraining1st/week3/icon-#{$item}.svg) no-repeat center;
    background-size: contain;
    width: 48px;
    height: 48px;

    @include pad(){
      width: 32px;
      height: 32px;
    }

    @include mobile(){
      background: url(https://hexschool.github.io/webLayoutTraining1st/week3/icon-#{$item}-white.svg) no-repeat center;
      background-size: contain;
    }
  }
}

.co-designed{
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png) no-repeat center;
  background-size: cover;

  li{
    background: $light-color;
    position: relative;
  }

  img{
    width: 540px;
    opacity: 0.5;

    @include pad(){
      width: 330px;
    }

    @include mobile(){
      width: 100%;
    }
  }

  h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
}

.recommend{
  @include pad(){
    padding-top: 40px;
    padding-bottom: 12px;
  }

  @include mobile(){
    padding-top: 32px;
    padding-bottom: 16px;
  }
}

.recommend-list{
  li{
    color: #212529;
    border: 1px solid #DEE2E6;

    @include pad(){
      width: 48%;
      margin-bottom: 28px;
    }

    @include mobile(){
      width: 100%;
      margin-bottom: 16px;
    }
    
    &:not(:last-child){
      margin-right: 30px;

      @include pad(){
        margin-right: 0px;
      }
    }
  }

  img{
    width: 255px;

    @include pad(){
      width: 100%;
    }
  }
}

.recommend-content{
  padding: 14px 16px 15px;

  @include pad(){
    padding: 16px;
  }

  h3{
    margin-bottom:7px;

    @include pad(){
      margin-bottom: 16px;
    }
  }

  p{
    margin-bottom: 10px;

    @include pad(){
      margin-bottom: 16px;
    }
  }

  span{
    color: #707070;
  }
}

.contact{
    width: 730px;
    margin: 0 auto;

    @include pad(){
      width: 450px;
    }

    @include mobile(){
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }

    h2{
      @include mobile(){
        margin-bottom: 20px;
      }
    }

    p{
      margin-bottom: 20px;

      @include pad(){
        margin-bottom: 12px;
      }

      @include mobile(){
        margin-bottom: 8px;
      }
    }
}

label{
  display: inline-block;
  margin-bottom: 4px;

  @include pad(){
    font-size: 14px;
    margin-bottom: 2px;
  }
}

input, textarea{
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 14px 16px;
  border: 1px solid #000;

  @include pad(){
    font-size: 14px;
    padding: 8px 12px;
  }
}

.form-agree{
  margin-bottom: 42px;

  @include pad(){
    display: inline-flex;
    margin-bottom: 20px;
  }

  @include mobile(){
    margin-bottom: 24px;
  }
}

.form-check-input{
  width: auto;
  display: inline-block;
}

.submit{
  width: 350px;
  margin: 0 auto;
  color: $light-color;
  background: $primary-color;
  border: none;
  cursor: pointer;

  @include pad(){
    width: 210px;
  }

  @include mobile(){
    width: 165px;
  }

  &:hover{
    background: $secondary-color;
  }
}