$primary-color: #AA0601;
$secondary-color: #650300;
$pink-color: #fbf2f2;
$light-color: #fff;
$dark-color: #555;
$yellow-color: #ffff82;

$font-size: 16px;
$font-size-multiple: 0.875 1 1.25 1.5 1.75 2 2.25 2.625 3 4 4.5;

$breakpoints: (
  'md': 992px,
  'sm': 767px,
);

$spacing: 8px;

$dimensions: (
  'm': 'margin',
  'p': 'padding',
);

$directions: (
  't': 'top', 
  'b': 'bottom', 
  'l': 'left', 
  'r': 'right',
);

$classic: 'diamond' 'sun' 'thunder';

$optical: 'banner-1' 'banner-2';
$optical-color: #5F3E2D #B75929;